.container#content {
  margin-top: 60px;
}
body {
  background-color: $background-dark;
  color: $white;
  font-family: $site-font;
}
a {
  color: $link-color;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.newsHeader{
  text-align: left;
}
.text-highlight{
  color: $button-light;
}
.active-highlight{
  color: $navbar-text;
  font-size: 1.1em;
  background-color: green;
}
.inactive-highlight{
  color: $navbar-text;
  font-size: 1.1em;
  background-color: #990b0b;
}

.post-date{
  text-align: right;
  float: right;
}

//discord buttons
.join-discord{
  color: white;
  border: 2px solid $link-color;
  font-weight: bold;
  a{
    color: $link-color;
  }
  &:hover{
    background-color: $link-color;
    a{
      color: $navbar-text;
    }
    text-decoration: none;
  }
}
h1 {
  margin-bottom: 20px;
  text-align: center;
  color: $header-text;
}
.navbar {
  background-color: $navbar-dark;
  a{
    color: $navbar-text;
  }
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 1;
}
ul {
  list-style: none;
  padding: 0;
}
.donor-card-list {
  font-size: 200%;
  text-align: center;
  min-height: 100%;
}
.hamburger-menu{
  color: $navbar-text;
  background-color: $navbar-text;
  text-align: right;
}
