.container#content {
  margin-top: 60px;
}
body {
  background-color: $background-dark;
  color: $text;
  font-family: $site-font;
}
a {
  color: $link-color;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}
.badge-colors {
  background-color: rgb(38, 117, 235);
}
.newsHeader {
  text-align: left;
}
.text-highlight {
  color: $button-light;
}
.active-highlight {
  color: $navbar-text;
  font-size: 1.1em;
  background-color: green;
}
.inactive-highlight {
  color: $navbar-text;
  font-size: 1.1em;
  background-color: #990b0b;
}

.post-date {
  text-align: right;
  float: right;
}

//discord buttons
.join-discord {
  color: $white;
  border: 2px solid $link-color;
  font-weight: bold;
  a {
    color: $link-color;
  }
  &:hover {
    background-color: $link-color;
    a {
      color: $navbar-text;
    }
    text-decoration: none;
  }
}
h1 {
  margin-bottom: 20px;
  text-align: center;
  color: $text;
  font-family: $header-font;
}

.container2 {
  position: relative;
  text-align: center;
  color: white;
}

.container3 {
  position: relative;
  text-align: center;
  color: white;
  height: 200px;
}

.centered-title {
  position: absolute;
  background-color: hsla(339, 15%, 11%, 0.70);
  top: 50%;
  left: 50%;
  padding: 5px;
  transform: translate(-50%, -50%);
}

.banner {
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  box-sizing: border-box;
  object-fit: cover;
  height: 100%;
}

.navbar {
  background-color: $navbar-dark;
  a {
    color: $navbar-text;
  }
  a:hover {
    color: $medium-gray;
  }

  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 1;
}
ul {
  list-style: none;
  padding: 0;
}
.donor-card-list {
  font-size: 200%;
  text-align: center;
  min-height: 100%;
}
.hamburger-menu {
  color: $navbar-text;
  background-color: $navbar-text;
  text-align: right;
}

.float-right {
  float: right;
}
.center {
  text-align: center;
}
.left-align {
  text-align: left;
}
