.card {
  margin-bottom: 30px;
  background-color: $navbar-dark;
}
.card-body {
  color: $text
}
ul.post-tags {
  padding: 0;
  display: inline-flex;
  list-style: none;

  li {
    margin-right: 10px;
  }
}

