.card {
  margin-bottom: 30px;
}
.post-list{
  width: 45%;
  display: inline-block;
  margin-right: 20px;
  height: 30%;
}
ul.post-tags {
  padding: 0;
  display: inline-flex;
  list-style: none;

  li {
    margin-right: 10px;
  }
}
