.site-footer {
  background-color: $navbar-dark;
  margin-top: 20px;
  padding: 10px;
  text-align: center;

  .discord {
    color: $navbar-text;
    &:hover {
      color: $link-color;
    }
  }

  .footer-social-links {
    text-align: center;

    ul.social-links-list {
      li {
        margin-right: 25px;
        display: inline-block;

        a {
          color: $dark-gray;

          &.instagram:hover {
            color: #e95950;
          }
          &.facebook:hover {
            color: rgb(66, 103, 178);
          }
          &.twitter:hover {
            color: rgb(56, 161, 243);
          }
          &.discord:hover {
            color: rgb(73, 14, 107);
          }
          &.linkedin:hover {
            color: rgb(0, 119, 181);
          }
        }
      }
    }
  }
}
