.pagination > li > a
{
    color: $link-color;
    background-color: $navbar-dark;
    border: 1px solid $navbar-dark;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    background-color: #5A4181;
    border: solid 1px #5A4181;
    color: $navbar-text
}
.pagination > .active > .page-link
{
    color: $navbar-text;
    background-color: #5A4181;
    border: 1px solid $navbar-dark;
}
.pagination > .disabled > .page-link
{
    color: $link-color;
    background-color: $navbar-dark;
    border: 1px solid $navbar-dark;
}
.pagination > .active > a:hover
{
    background-color: #5A4181;
    border: solid 1px #5A4181;
    color: $navbar-text
}