@import url('https://fonts.googleapis.com/css?family=Raleway');

$site-font: 'Raleway', sans-serif;

$light-gray: rgb(240, 240, 240);
$dark-gray: rgb(80, 80, 80);
$background-dark: rgb(20, 20, 20);
$navbar-dark: rgb(40, 40, 40);
$navbar-text: rgb(230, 230, 230);
$link-color: #b272ed;
$discord-link-color: #9966FF;
$header-text: rgb(230, 230, 230);
$white: white;
$button-light: #18cce7;